.author {
    display: grid;
    grid-template-columns: 20px 100px 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'incr icon info medal view';
    padding: 15px 0;
    align-items: center;
    text-align: center;
}

.author:nth-child(odd) {
    background-color: #ffffff;
}

.authorIncrement {
    grid-area: incr;
    padding-left: 1rem;
    color: #c2c2c2;
}

.authorIcon {
    grid-area: icon;
    width: 4rem;
    height: 4rem;
    margin: 0 30px;
    line-height: 3em;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 1px 1px 20px 4px rgba(0,0,0,0.5);
}

.authorInfo {
    grid-area: info;
    padding-left: 10px;
    text-align: left;
}

.authorName {

}

.authorPublications {
    color: #c2c2c2;
}

.medal {
    grid-area: medal;
    text-align: center;
}

.medal img {
    width: 60px;
    height: 60px;
}

.authorViews {
    grid-area: view;
    padding-right: 2rem;
    text-align: right;
}