.author {
    display: grid;
    grid-template-columns: 30px 100px auto 40% 10%;
    grid-template-rows: auto;
    grid-template-areas: 'incr icon info medal view';
    padding: 15px 0;
    align-items: center;
    text-align: center;
}

.author:nth-child(odd) {
    background-color: white;
}

.authorIncrement {
    grid-area: incr;
    padding-left: 10px;
    color: #c2c2c2;
}

.authorIcon {
    grid-area: icon;
    width: 4rem;
    height: 4rem;
    margin: 0 20px;
    line-height: 3em;
    text-align: center;
    color: #ffffff;
    background: violet;
    border-radius: 50%;
}

.authorInfo {
    grid-area: info;
    text-align: left;
}

.authorName {

}

.authorPublications {
    color: #c2c2c2;
}

.medal {
    grid-area: medal;
    text-align: center;
}

.medal img {
    width: 60px;
    height: 60px;
}

.authorViews {
    grid-area: view;
    padding-right: 20px;
}